.chatrooms-homepage-chatrooms-container{
  margin-top:170px;
}

.chatrooms-homepage-chatrooms-box-panel{
  margin-left: 250px;
}

.chatrooms-homepage-chatroom-name{
  color:white;
}
.chatrooms-showpage-chatroom-container{
  margin-top: -41px;
}

.chatrooms-showpage-chatroom-messages-container{
  overflow-y:scroll;
  height: 450px;
}
.chatrooms-showpage-chatroom-input-field{
  margin-top: -50px;
}
