.comment-h1-tag{
  font-size:16px;
}
.comment-paragraph-tag{
  margin-left: 3px;
  font-weight:normal;
}
.comment-span-tag{
  float:left;
}
.comment-create-at{
  color:grey;
  font-size:10px;
}
.comment-content{
  margin-left:83px;
}
.comment-owner-name{
  margin-left:3px;
  color:grey;
  font-size:12px;
}
.comment-owner-name-with-mp3-file{
  color:grey;
  margin-left: 3px;
}
.comment-play-button{
  color: purple ;
  font-size:12px;
}
.comment-delete-item{
  color:white;
  font-size:10px;
  margin-left: 3px;
}

.comment-form-div-field{
  float:left;
  margin-top:-20px;
}
