.teachers-owner-occupation{
  display:none;
  display:none;
  position:absolute;
  top: 0;
  left: 0;
}

.teachers-owner-span{
  font-weight: bold !important;
  font-size:14px;
}

.teachers-owner-avatar{
  float:left;
  padding-right: 30px;
}

.profile-videos-thumbnail {
  width:150px;
}

.profile-videos-overlay-img{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.1);
}
.profile-video-size{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100px;
}
