
<p class = "text-center calendar-events-owner-name-container"><%= avatar_for(@teacher, size:100) %> <span class = "calendar-events-owner-name"> <%= @teacher.firstname + " " + @teacher.lastname %></span></p>
<div class = "calendar"></div>