<nav  class="navbar navbar-default video-navbar navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a style = "margin-top:-6px;" class = "videos-brand" href="../videos">Chalkboard Podcasts </a></li>

      </ul>

      <form class="navbar-form navbar-left">
        <div class="form-group">
          <i class="fa fa-search videos-search-icon" aria-hidden="true"></i>
          <input class = "videos-search" type="text" class="form-control" placeholder="Search">
        </div>
      </form>
      <ul  class="nav navbar-nav navbar-right">
        <li style = "transform:translate(-30px,25px);" class="dropdown">
          <i style = "cursor:pointer;font-size:28px;" class="fa fa-caret-square-o-down dropdown-toggle homepage-navbar-fa-grcode" data-toggle="dropdown"></i>
          <ul style = "width:400px;" class="dropdown-menu">
            <li><a href = "">Write An Article</a></li>
            <li><a href="#">Publish A Podcast</a></li>
            <li><a href="#">Start A Group Chat</a></li>
            <li><a href="#">Start A Live Video Stream</a></li>
            <li><a href="#">Start A Live Audio Stream</a></li>
            <li><a href="#">Share An Interesting Photo</a></li>
            <li><a href="#">All Categories</a></li>
            <li><a href="#">My Calendar</a></li>
            <li><a href="#">Themes</a></li>
            <li><a href="#">Add New Class</a></li>
            <li><a href="#">Start A Meetup</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Question?</a></li>
          </ul>
        </li>
        <li style = "transform:translateX(-20px); class="dropdown">
        <div class=" dropdown-toggle" type="button" data-toggle="dropdown"><%= avatar_for(current_user,size:100) %></div>
        <ul style = "width:400px;" class="dropdown-menu">

          <% if current_user.image? %>
              <div style = "margin-top:-5px !important; width:100%;height:200px;background:url(<%= current_user.image.url(:large) %>) center center;background-size: cover;">
          <% else %>
              <div style = "margin-top:-5px !important; width:100%;height:auto;"><h1 style = "margin-top:10%;font-size:50px;font-weight:bold;" class = "text-center"><%= current_user.firstname[0] + " "  + current_user.lastname[0]%></h1>
          <% end %>
          </div>
          <h1 style = "color:black !important;" class = "text-center"><%= current_user.firstname + " "  + current_user.lastname %></h1>
          <li><a href="#">Profile</a></li>
          <li><a href="#">Edit Profile</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Sign Out</a></li>
        </ul>
        </li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>