<div class = "video-side-bar">
  <div style = "animation-delay: 50ms;" class = "homepage-navbar-side-navigation-list-item-container first-item animated">
    <img class = "homepage-navbar-side-navigation-list-item-logo" src = "http://rho-design.com/wp-content/uploads/2015/08/VIDEO-LOGO1.png">
    <%= link_to 'New Video', new_video_path, remote:true, class:'video-click' %>
  </div>
  <div style = "animation-delay: 50ms;" class = "homepage-navbar-side-navigation-list-item-container first-item animated">
    <img class = "homepage-navbar-side-navigation-list-item-logo" src = "http://rho-design.com/wp-content/uploads/2015/08/VIDEO-LOGO1.png">
    <a href = "../videos/new" class = "">Publish A Video</a>
  </div>
  <div style = "animation-delay: 50ms;" class = "homepage-navbar-side-navigation-list-item-container first-item animated">
    <img class = "homepage-navbar-side-navigation-list-item-logo" src = "http://rho-design.com/wp-content/uploads/2015/08/VIDEO-LOGO1.png">
    <a href = "../videos/new" class = "homepage-navbar-side-navigation-anchor-items">Browse Videos</a>
  </div>
  <div style = "animation-delay: 50ms;" class = "homepage-navbar-side-navigation-list-item-container first-item animated">
    <img class = "homepage-navbar-side-navigation-list-item-logo" src = "http://rho-design.com/wp-content/uploads/2015/08/VIDEO-LOGO1.png">
    <a href = "../videos/new" class = "homepage-navbar-side-navigation-anchor-items">Browse Videos</a>
  </div>
</div>
