
<p class = "text-center" style = "color:white;"><%= avatar_for(@teacher, size:100) %> <span style = "font-size:30px;"> <%= @teacher.firstname %></span>  <span style = "font-size:30px;"><%= @teacher.lastname %> </span></p>
<div class = "calendar"></div>