

<!-- Fixed navbar -->
<%= render 'navs/nav' %>

<!-- *****************************************************************************************************************
 HEADERWRAP
 ***************************************************************************************************************** -->
<div id="headerwrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h3 class = "meet-frontpage-header1">Set Up A Meet Or</h3>
        <h1 class = "meet-frontpage-header2">Join A Meet And Learn Something New</h1>
      </div>
    </div><!-- /row -->
  </div> <!-- /container -->
</div><!-- /headerwrap -->

<!-- *****************************************************************************************************************
 SERVICE LOGOS
 ***************************************************************************************************************** -->
<br>
<h1 class = "meet-meets-near-you">Meetup Near You </h1>
<div class="wrappe meets-meets-wrapper">
<div class = "arrow-left"></div>
  <div class="slick-codepen">

    <div class = "yo2" style=" width:200px;height:150px; background:linear-gradient(to bottom, rgba(0, 0, 0, 0) -100%, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.85) 100%),url(https://pi.tedcdn.com/r/pf.tedcdn.com/images/playlists/hated_math_1200x627.jpg?c=1050%2C550&w=1050) center center no-repeat; background-size:cover; "><p class = "box-text2">Math</p></div>
    <div class = "yo2" style="width:200px;height:150px; background:linear-gradient(to bottom, rgba(0, 0, 0, 0) -100%, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.85) 100%),url(http://pad1.whstatic.com/images/thumb/6/6f/Improve-English-Communication-Skills-Step-01.jpg/aid2507461-728px-Improve-English-Communication-Skills-Step-01.jpg) center center no-repeat; background-size:cover; "><p class = "box-text2">English</p></div>
    <div class = "yo2" style="width:200px;height:150px; background:linear-gradient(to bottom, rgba(0, 0, 0, 0) -100%, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.85) 100%),url(https://media.licdn.com/mpr/mpr/AAEAAQAAAAAAAAgiAAAAJDM5MDM2MDdlLTg1OTMtNDA1ZS04MmIyLWZhZWZiZDIwMTg5MQ.jpg) center center no-repeat; background-size:cover; "><p class = "box-text2">Science</p></div>
    <div class = "yo2" style="width:200px;height:150px; background:linear-gradient(to bottom, rgba(0, 0, 0, 0) -100%, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.85) 100%),url(http://theteachersdigest.com/wp-content/uploads/2014/07/History.png) center center no-repeat; background-size:cover;"><p class = "box-text2">History</p></div>
    <div class = "yo2" style="width:200px;height:150px; background:linear-gradient(to bottom, rgba(0, 0, 0, 0) -100%, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.85) 100%),url(http://ugcdskpdf.unipune.ac.in/images/ES/banner-physical-geography.jpg) center center no-repeat; background-size:cover;"><p class = "box-text2">Geography</p></div>
    <div class = "yo2" style="width:200px;height:150px; background:linear-gradient(to bottom, rgba(0, 0, 0, 0) -100%, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.85) 100%),url(http://www.tmcc.edu/media/tmcc/departments/physical-science/images/400x300/physics-400x300.jpg) center center no-repeat; background-size:cover;"><p class = "box-text2">Physics</p></div>
    <div class = "yo2" style="width:200px;height:150px; background:linear-gradient(to bottom, rgba(0, 0, 0, 0) -100%, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.85) 100%),url(https://s-media-cache-ak0.pinimg.com/originals/65/f8/21/65f821aad7aaa30bac16acf2cfb87ccf.png) center center no-repeat; background-size:cover;"><p class = "box-text2">Art</p></div>
    <div class = "yo2" style="width:200px;height:150px; background:linear-gradient(to bottom, rgba(0, 0, 0, 0) -100%, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.85) 100%),url(https://www.unomaha.edu/college-of-arts-and-sciences/chemistry/_files/images/chemdrawing.jpg) center center no-repeat; background-size:cover;"><p class = "box-text2">Chemistry</p></div>
    <div class = "yo2" style="width:200px;height:150px; background:linear-gradient(to bottom, rgba(0, 0, 0, 0) -100%, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.85) 100%),url(https://static1.squarespace.com/static/50c2031de4b02a7395e3e36f/t/542db21ee4b0d845f517528a/1412280869359/Biology+Header.jpg?format=1500w) center center no-repeat; background-size:cover;"><p class = "box-text2">Biology</p></div>
    <div class = "yo2" style="width:200px;height:150px; background:linear-gradient(to bottom, rgba(0, 0, 0, 0) -100%, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.85) 100%),url(http://math.arizona.edu/~rwilliams/images/Algebra.jpg) center center no-repeat; background-size:cover;"><p class = "box-text2">Algebra</p></div>
    <div class = "yo2" style="width:200px;height:150px; background:linear-gradient(to bottom, rgba(0, 0, 0, 0) -100%, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.85) 100%),url(http://www.sagu.edu/images/page-content/admissions/program-pages/history-and-social-studies/associate-degree-in-social-studies.jpg) center center no-repeat; background-size:cover;"><p class = "box-text2">Social Studies</p></div>
    <div class = "yo2" style="width:200px;height:150px; background:linear-gradient(to bottom, rgba(0, 0, 0, 0) -100%, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.85) 100%),url(https://www.colorado.gov/pacific/sites/default/files/u/20316/exercise.jpg) center center no-repeat; background-size:cover;"><p class = "box-text2">PE</p></div>


  </div>
</div>

<!-- *****************************************************************************************************************
 Tag Section
 ***************************************************************************************************************** -->
<h1 class = "text-center meets-tags-text">Tags</h1><br>
<div class = "container">
<div class="row">
  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 vcenter">
    <img class = "meets-tags-row1" src="https://s-media-cache-ak0.pinimg.com/736x/94/e5/c8/94e5c8f8a38382c6750f26a2467ad670.jpg">
  </div><div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 vcenter">
  <img class = "meets-tags-row1"  src="https://s-media-cache-ak0.pinimg.com/736x/94/e5/c8/94e5c8f8a38382c6750f26a2467ad670.jpg">
</div><div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 vcenter">
  <img class = "meets-tags-row1" src="https://s-media-cache-ak0.pinimg.com/736x/94/e5/c8/94e5c8f8a38382c6750f26a2467ad670.jpg">
</div><div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 vcenter">
  <img class = "meets-tags-row1" src="https://s-media-cache-ak0.pinimg.com/736x/94/e5/c8/94e5c8f8a38382c6750f26a2467ad670.jpg">
</div>

  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 vcenter">
    <img class = "meets-tags-row2" src="https://s-media-cache-ak0.pinimg.com/736x/94/e5/c8/94e5c8f8a38382c6750f26a2467ad670.jpg">
  </div><div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 vcenter">
  <img class = "meets-tags-row2"  src="https://s-media-cache-ak0.pinimg.com/736x/94/e5/c8/94e5c8f8a38382c6750f26a2467ad670.jpg">
</div><div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 vcenter">
  <img class = "meets-tags-row2" src="https://s-media-cache-ak0.pinimg.com/736x/94/e5/c8/94e5c8f8a38382c6750f26a2467ad670.jpg">
</div><div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 vcenter">
  <img class = "meets-tags-row2" src="https://s-media-cache-ak0.pinimg.com/736x/94/e5/c8/94e5c8f8a38382c6750f26a2467ad670.jpg">
</div>
</div>

<!-- *****************************************************************************************************************
 MIDDLE CONTENT
 ***************************************************************************************************************** -->




<script>


    $('.slick-codepen').slick({
        infinite: true,
        slidesToShow: 5,
        slidesToScroll: 5
    });

    $(".slick-slide").css("height","170px");
    $(".slick-prev").css("height","170px");
    $(".slick-prev").css("opacity","1");
    $(".slick-next").css("opacity","1");
    $(".slick-next").css("height","170px");





    // Portfolio
    (function($) {
        "use strict";
        var $container = $('.portfolio'),
            $items = $container.find('.portfolio-item'),
            portfolioLayout = 'fitRows';

        if( $container.hasClass('portfolio-centered') ) {
            portfolioLayout = 'masonry';
        }



        $container.isotope({
            filter: '*',
            animationEngine: 'best-available',
            layoutMode: portfolioLayout,
            animationOptions: {
                duration: 750,
                easing: 'linear',
                queue: false
            },
            masonry: {
            }
        }, refreshWaypoints());

        function refreshWaypoints() {
            setTimeout(function() {
            }, 1000);
        }

        $('nav.portfolio-filter ul a').on('click', function() {
            var selector = $(this).attr('data-filter');
            $container.isotope({ filter: selector }, refreshWaypoints());
            $('nav.portfolio-filter ul a').removeClass('active');
            $(this).addClass('active');
            return false;
        });

        function getColumnNumber() {
            var winWidth = $(window).width(),
                columnNumber = 1;

            if (winWidth > 1200) {
                columnNumber = 5;
            } else if (winWidth > 950) {
                columnNumber = 4;
            } else if (winWidth > 600) {
                columnNumber = 3;
            } else if (winWidth > 400) {
                columnNumber = 2;
            } else if (winWidth > 250) {
                columnNumber = 1;
            }
            return columnNumber;
        }

        function setColumns() {
            var winWidth = $(window).width(),
                columnNumber = getColumnNumber(),
                itemWidth = Math.floor(winWidth / columnNumber);

            $container.find('.portfolio-item').each(function() {
                $(this).css( {
                    width : itemWidth + 'px'
                });
            });
        }

        function setPortfolio() {
            setColumns();
            $container.isotope('reLayout');
        }

        $container.imagesLoaded(function () {
            setPortfolio();
        });

        $(window).on('resize', function () {
            setPortfolio();
        });
    })(jQuery);
</script>

