/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require 'masonry/transitions'
 *= require jquery.fileupload
 *= require jquery.fileupload-ui

 *= require_tree .
 *= require_self

 */




@import "bootstrap-sprockets";
@import "bootstrap";
@import "global";
@import "video";







$white: #FFFFFF;
$highlight: #EE7964;
$dark: #2C3135;
$light: #EDEFF5;

body {
  background: #E9E9E9;
  margin: 0;
  padding:0;


}


.go_right {
  font-size:20px;
  text-align: center;
  color:#E94C6F ;
}

.likes {
  font-size: 10px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
}

.nav1 {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
  border-radius: 0 !important;
  border:none !important;
  background: linear-gradient(to left,rgba(255, 69, 0, 0.80),rgba(220,6, 107, 0.80)), url('https://t3.ftcdn.net/jpg/01/00/04/94/240_F_100049439_72BRXLfIc2MNtyya5dlkZIsZj6pGwW2u.jpg') center center / cover;

  a {
    color:white !important;
    font-weight:lighter;
  }
  .navbar-brand {
    a {
      color: white;
      font-weight: bold;
      margin-top: 20px;
      font-size:40px;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.nav2 {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
  border-radius: 0 !important;
  border:none !important;
  height:70px;
  background:white;


  a {
    margin-top: 12px;
    font-weight: 500;
    color:rgb(70,70,70);
    font-size:28px;
    margin-left: -7px;
  }

}

.fa-cog {
  color: black;
}
.name {
  font-size:16px !important;
  color:white !important;
}



.sign-out{
  color:grey;
}



.btn-circle {
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 6px 0;
  font-size: 17px;
  line-height: 1.428571429;
  border-radius: 25px;
}

.caret {
  display:none;
}

.input-box {
  border-radius: none !important;
}

.btn-primary {
  border:none;
}
.jp-jplayer,.jp-audio {
  width: 70%;
  margin: 3rem auto .5rem auto;
}
.jp-title {
  font-size: 12px;
  text-align: center;
  color: #999;
}
.jp-title ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.jp-gui {
  position: relative;
  background: $highlight;
  transition: background .4s ease-in-out;
  border-radius: 3px;
  overflow: hidden;
  margin-top: 10px;
}
.jp-controls {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: "FontAwesome";
}

.jp-controls li {
  display: inline;
}

.jp-controls a {
  color: #fff;
}
.jp-play,.jp-pause {
  width: 60px;
  height: 40px;
  display: inline-block;
  text-align: center;
  line-height: 43px;
  border-right: 1px solid lighten($highlight, 10%);
}

.jp-controls .jp-play:hover,.jp-controls .jp-pause:hover {
  background-color: darken($highlight, 10%);
}

.jp-mute,.jp-unmute {
  position: absolute;
  right: 59px;
  top: -3px;
  width: 20px;
  height: 40px;
  display: inline-block;
  line-height: 46px;
}

.jp-mute {
  text-align: left;
}
.jp-time-holder {
  color: #FFF;
  font-size: 12px;
  line-height: 14px;
  position: absolute;
  right: 90px;
  top: 14px;
}
.jp-progress {
  background-color: darken($highlight, 25%);
  border-radius: 20px 20px 20px 20px;
  overflow: hidden;
  position: absolute;
  right: 22%;
  top: 15px;
  width: 65%;
}

.jp-play-bar {
  height: 12px;
  background-color: #fff;
  border-radius: 20px 20px 20px 20px;
}

.jp-volume-bar {
  position: absolute;
  right: 10px;
  top: 17px;
  width: 45px;
  height: 8px;
  border-radius: 20px 20px 20px 20px;
  background-color: darken($highlight, 25%);
  overflow: hidden;
}

.jp-volume-bar-value {
  background-color: #fff;
  height: 8px;
  border-radius: 20px 20px 20px 20px;
}



.booth {
  width:400px;
  background:grey;
  border: 10px solid #ddd;
  margin: 0 auto ;
}


.input-group2 {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 140px;
  top:22px;
  right: 0;
}


.search-box {
  border-radius:.3em;
  height: 27px;
  margin-top:7px;
  color:rgb(0,0,0);
  padding-left: 20px;
  font-weight: 400;
  font-size:17px;
  background: linear-gradient(to left,rgba(240, 240, 240, 1),rgba(251,251, 251, 1));
  width: 200px;
  border:none;
  float:right;
  margin-right: 340px;
  border-radius:2em;
}
textarea:focus, input:focus{
  outline: none;
}


.logo-pic {
  margin-top:-3px;
  width:57px;
  height: 50px;
}

.input[type=text] {
  width: 130px;
  -webkit-transition:all 3s ease-in-out;
  transition: all 3s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */


.overlay {
  position: fixed;
  top:70px;
  left: 0;
  width: 100%;
  height: 100%;
  background:rgba(0,0,0,0.3);
   z-index: 999999999;
}

.link-tag {
  color:rgb(170,170,170);
  text-decoration:none;
  transition: color 400ms ease-in-out;
}

.link-tag:hover {
  color:white;
  text-decoration:none;
  cursor:pointer;
}

.video-show {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
}



$primary-foreground-color: #fff; // #fff default

// The default color of control backgrounds is mostly black but with a little
// bit of blue so it can still be seen on all-black video frames, which are common.
// Try changing to #900
$primary-background-color: #2B333F;  // #2B333F default

// Try changing to true
$center-big-play-button: false; // true default

.video-js {
  /* The base font size controls the size of everything, not just text.
     All dimensions use em-based sizes so that the scale along with the font size.
     Try increasing it to 15px and see what happens. */
  font-size: 10px;

  /* The main font color changes the ICON COLORS as well as the text */
  color: $primary-foreground-color;
}

/* The "Big Play Button" is the play button that shows before the video plays.
   To center it set the align values to center and middle. The typical location
   of the button is the center, but there is trend towards moving it to a corner
   where it gets out of the way of valuable content in the poster image.*/
.vjs-default-skin .vjs-big-play-button {
  /* The font size is what makes the big play button...big.
     All width/height values use ems, which are a multiple of the font size.
     If the .video-js font-size is 10px, then 3em equals 30px.*/
  font-size: 3em;

  /* We're using SCSS vars here because the values are used in multiple places.
     Now that font size is set, the following em values will be a multiple of the
     new font size. If the font-size is 3em (30px), then setting any of
     the following values to 3em would equal 30px. 3 * font-size. */
  $big-play-width: 3em;
  /* 1.5em = 45px default */
  $big-play-height: 1.5em;

  line-height: $big-play-height;
  height: $big-play-height;
  width: $big-play-width;

  /* 0.06666em = 2px default */
  border: 0.06666em solid $primary-foreground-color;
  /* 0.3em = 9px default */
  border-radius: 0.3em;

  @if $center-big-play-button {
    /* Align center */
    left: 50%;
    top: 50%;
    margin-left: -($big-play-width / 2);
    margin-top: -($big-play-height / 2);
  } @else {
    /* Align top left. 0.5em = 15px default */
    left: 0.5em;
    top: 0.5em;
  }
}

/* The default color of control backgrounds is mostly black but with a little
   bit of blue so it can still be seen on all-black video frames, which are common. */
.video-js .vjs-control-bar,
.video-js .vjs-big-play-button,
.video-js .vjs-menu-button .vjs-menu-content {
  /* IE8 - has no alpha support */
  background-color: red;
  /* Opacity: 1.0 = 100%, 0.0 = 0% */
  background-color: rgba($primary-background-color, 0.7);
}

// Make a slightly lighter version of the main background
// for the slider background.
$slider-bg-color: lighten($primary-background-color, 33%);

/* Slider - used for Volume bar and Progress bar */
.video-js .vjs-slider {
  background:red;
  background:red;
}

/* The slider bar color is used for the progress bar and the volume bar
   (the first two can be removed after a fix that's coming) */
.video-js .vjs-volume-level,
.video-js .vjs-play-progress,
.video-js .vjs-slider-bar {
  background: $primary-foreground-color;
}

/* The main progress bar also has a bar that shows how much has been loaded. */
.video-js .vjs-load-progress {
  /* For IE8 we'll lighten the color */
  background: lighten($slider-bg-color, 25%);
  /* Otherwise we'll rely on stacked opacities */
  background: rgba($slider-bg-color, 0.5);
}

/* The load progress bar also has internal divs that represent
   smaller disconnected loaded time ranges */
.video-js .vjs-load-progress div {
  /* For IE8 we'll lighten the color */
  background: lighten($slider-bg-color, 50%);
  /* Otherwise we'll rely on stacked opacities */
  background: rgba($slider-bg-color, 0.75);
}


.teacher-class-img {
  -webkit-filter: drop-shadow(16px 16px 10px rgba(0,0,0,0.9));
  filter: drop-shadow(16px 16px 10px rgba(0,0,0,0.9));
  width:100px !important;
  height: 100px !important;
}

.comment-form {
background:  #E9E0D6 ;
}

.comment-form[type=text] {
  width: 200px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
.comment-form[type=text]:focus {
  width: 300%;
}

.bold {
  font-weight: bold !important;
}

.show-buttons{
  background:rgb(233,234,254);
  border:none;
}

.left {
  left: 0;
  width:50%;
  height: 450px;
  top: 71px;
}

.alone {
  width: 100%;
  height: auto;
  margin-top: 0px;

}

.index-image {
  width:500px;
  max-width: 100%;
  height: auto;

}

.link-register {
  font-size: 12px !important;
}



.simple_form div.input {
  margin-bottom: 10px;
  clear: both; /* Required for Webkit, but not for Gecko */
}

.simple_form label {
  float: left;
  width: 100px;
  text-align: right;
  margin: 2px 10px;
}

div.boolean, .simple_form input[type='submit'] {
  margin-left: 120px;
}

div.boolean label, label.collection_radio_buttons {
  float: none;
  margin: 0;
}

label.collection_radio_buttons {
  margin-right: 10px;
  vertical-align: -2px;
  margin-left: 2px;
}

.field_with_errors {
  background-color: #ff3333;
}

.simple_form .error {
  clear: left;
  color: black;
  display: block;
  margin-left: 120px;
}

.simple_form .hint {
  clear: left;
  margin-left: 120px;
  color: #555;
  display: block;
  font-style: italic;
}

input.radio {
  margin-right: 5px;
  vertical-align: -3px;
}

input.check_boxes {
  margin-left: 3px;
  vertical-align: -3px;
}

label.collection_check_boxes {
  float: none;
  margin: 0;
  vertical-align: -2px;
  margin-left: 2px;
}

.form-inputs {
  margin: 0 auto;
  background: #A7DBDB;
  width: 500px;
  border-radius: .5em;

}

.special {
  border-radius: .2em;
  background: #E9E0D6;
  width: 350px;
  margin-left: 80px;
  margin-top: 25px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out, width 0.4s ease-in-out;
}


/* When the input field gets focus, change its width to 100% */
.special[type=text]:focus {
  width: 400px;
  margin-left: 70px;
}

.controls {
  margin: 0 auto;
}

.dropown {
  margin: 0 auto;
  width: 350px;
  margin-left: 80px;
  margin-top: 10px;
  background:  #D79C8C;

}

.button-special {
  margin-left: 80px !important;
}

.categories{
  width:100%;
  height:140px;
  background:red;
  position: fixed;
  top: 70px;
  left: 0;
  z-index: 9999999999;

}

.box-category{
  background:rgb(200,200,200);
  height: 70px;
  border-radius: .5em;
  transition: background 300ms ease-in-out;
  cursor:pointer;
}

.box-category:hover p {
  color: white;
}

.box-text {
  font-size:14px;
  text-align: center;
  color:white;
  padding-top:23px;
}

.pin-image {
  width:90%;
  margin-left: 2.5%;
  vertical-align: middle;
  height: auto;
}

.related-box{
  width:400px;
  left:800px;
  top:356px;
  position: absolute;
  height:100%;

}

.image-under {

}

.user-link {
  color: #17A697;
  font-weight:bold;
  font-size:17px;
}

.index-box{


}

.profile-link-name {
  font-size:12px;
}


.button__badge {
  background-color: #E94C6F;
  border-radius: 2px;
  color: white;
  margin-top: 6px;
  margin-left: 15px;
  padding: 1px 3px;
  font-size: 10px;


  position: absolute; /* Position the badge within the relatively positioned button */
  top: 0;
  right: 0;
}


.img-container {
  top: 71px;
  left: 0;
  width: 100%;
  height: 210px;
  position: absolute;

  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

.follow {
  float:right;
  background: #E9514C    ;
  width: 170px;
  height: 50px;
  box-shadow: 0 10px 7px 0 rgba(0, 0, 0, 0.22);


}


.teacher-image {
  width:90%;
  margin-left: 5%;
  vertical-align: middle;
  height: auto;
  margin-top: 20px;
}

.nothing-to-show{
  left: 30%;

  margin:0 auto ;
  margin-top: -70px;
}

.nav-text {
  font-size:13px;
}

.nav-link {
font-size:16px;
font-weight: bold;
font-family: helvetica;
}

.middle {
  position: absolute;
  left:47%;

}

.go-down {
  transform:translateY(600px);
  opacity: 0.2;
}

.go-up {
  animation: ani 500ms ease-in-out forwards 1 ;
}

@keyframes ani {
  0% {
    transform:translateY(600px);
    opacity: 0;
  }
  90%{
    opacity:0.2;
  }
  95% {
    opacity:0.5;
  }
  100%{
    transform:translateY(0px);
    opacity:1;
  }
}



@import 'normalize';

