/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require 'masonry/basic'
 *= require 'masonry/centered'
 *= require 'masonry/fluid'
 *= require 'masonry/gutters'
 *= require 'masonry/infinitescroll'
 *= require 'masonry/right-to-left'
 *= require 'masonry/transitions'
 *= require_tree .
 *= require_self
 */




@import "bootstrap-sprockets";
@import "bootstrap";

$white: #FFFFFF;
$highlight: #EE7964;
$dark: #2C3135;
$light: #EDEFF5;

body {
  background: #E9E9E9;
  margin: 0;
  padding:0;

}

.go_right {
  font-size:20px;
  display: inline;
  color:red;
}

.likes {
  font-size: 10px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
}

nav {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
  border-radius: 0 !important;
  border:none !important;
  background: linear-gradient(to left,rgba(255, 69, 0, 0.80),rgba(220,6, 107, 0.80)), url('https://t3.ftcdn.net/jpg/01/00/04/94/240_F_100049439_72BRXLfIc2MNtyya5dlkZIsZj6pGwW2u.jpg') center center / cover;

  a {
    color:white !important;
    font-weight:lighter;
  }
  .navbar-brand {
    a {
      color: white;
      font-weight: lighter;
      margin-top: 20px;
      font-size:40px;
      &:hover {
        text-decoration: none;
      }
    }
  }
}


#pins {
  margin: 0 auto;
  width: 100%;
  .box {
    margin: 10px;
    width: 350px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
    border-radius: 4px;
    text-align: center;
    img {
      max-width: 100%;
      height: auto;
    }
    h2 {
      font-size: 22px;
      margin: 0;
      padding: 25px 10px;
      a {
        color: #474747;
      }
    }
    .user {
      font-size: 12px;
      border-top: 1px solid #EAEAEA;
      padding: 15px;
      margin: 0;
    }
  }
}

#edit_page {
  .current_image {
    img {
      display: block;
      margin: 20px 0;
    }
  }
}

#pin_show {
  .panel-heading {
    padding: 0;
  }
  .pin_image {
    img {
      max-width: 100%;
      width: 100%;
      display: block;
      margin: 0 auto;
    }
  }
  .panel-body {
    padding: 35px;
    h1 {
      margin: 0 0 10px 0;
    }
    .description {
      color: #868686;
      line-height: 1.75;
      margin: 0;
    }
  }
  .panel-footer {
    padding: 20px 35px;
    p {
      margin: 0;
    }
    .user {
      padding-top: 8px;
    }
  }
}

textarea {
  min-height: 250px;
}

.image-class {
margin-left: 15px;
}

.input-box {
  border-radius: none !important;
}

.jp-jplayer,.jp-audio {
  width: 70%;
  margin: 3rem auto .5rem auto;
}
.jp-title {
  font-size: 12px;
  text-align: center;
  color: #999;
}
.jp-title ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.jp-gui {
  position: relative;
  background: $highlight;
  transition: background .4s ease-in-out;
  border-radius: 3px;
  overflow: hidden;
  margin-top: 10px;
}
.jp-controls {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: "FontAwesome";
}

.jp-controls li {
  display: inline;
}

.jp-controls a {
  color: #fff;
}
.jp-play,.jp-pause {
  width: 60px;
  height: 40px;
  display: inline-block;
  text-align: center;
  line-height: 43px;
  border-right: 1px solid lighten($highlight, 10%);
}

.jp-controls .jp-play:hover,.jp-controls .jp-pause:hover {
  background-color: darken($highlight, 10%);
}

.jp-mute,.jp-unmute {
  position: absolute;
  right: 59px;
  top: -3px;
  width: 20px;
  height: 40px;
  display: inline-block;
  line-height: 46px;
}

.jp-mute {
  text-align: left;
}
.jp-time-holder {
  color: #FFF;
  font-size: 12px;
  line-height: 14px;
  position: absolute;
  right: 90px;
  top: 14px;
}
.jp-progress {
  background-color: darken($highlight, 25%);
  border-radius: 20px 20px 20px 20px;
  overflow: hidden;
  position: absolute;
  right: 22%;
  top: 15px;
  width: 65%;
}

.jp-play-bar {
  height: 12px;
  background-color: #fff;
  border-radius: 20px 20px 20px 20px;
}

.jp-volume-bar {
  position: absolute;
  right: 10px;
  top: 17px;
  width: 45px;
  height: 8px;
  border-radius: 20px 20px 20px 20px;
  background-color: darken($highlight, 25%);
  overflow: hidden;
}

.jp-volume-bar-value {
  background-color: #fff;
  height: 8px;
  border-radius: 20px 20px 20px 20px;
}


@import 'normalize';
