// Place all the styles related to the Pins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#pins {
  margin: 0 auto;
  width: 100%;
  .box {
    margin: 10px;
    width: 350px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
    border-radius: 4px;
    text-align: center;
    background:rgb(41,41,41);
    img {
      max-width: 100% !important;
      height: auto;
      width: 100% !important;
    }
    h2 {
      font-size: 22px;
      margin: 0;
      padding: 25px 10px;
      color:white;
      a {
        color: white;
      }
    }
    .user {
      font-size: 12px;
      padding: 15px;
      margin: 0;
    }
  }
}

#edit_page {
  .current_image {
    img {
      display: block;
      margin: 20px 0;
    }
  }
}

#pin_show {
  .panel-heading {
    padding: 0;
  }
  .pin_image {
    img {
      max-width: 100%;
      width: 100%;
      display: block;
      margin: 0 auto;
    }
  }
  .panel-body {
    padding: 35px;
    h1 {
      margin: 0 0 10px 0;
    }
    .description {
      color: #868686;
      line-height: 1.75;
      margin: 0;
    }
  }
  .panel-footer {
    padding: 20px 35px;
    p {
      margin: 0;
    }
    .user {
      padding-top: 8px;
    }
  }
}

textarea {
  min-height: 250px;
}

.image-class {
  margin-left: 15px;
}



.side-navigation{
  position: fixed;
  top:0;
  left:-300px;
  width:300px;
  background:rgb(41,41,41);
  height:100%;
  z-index:999999999999999999999999;
}

.activate-ani {
  animation: ani 300ms ease-in-out forwards;
}

.de-activate-ani {
  animation: de-ani 400ms ease-in-out forwards;

}

@keyframes ani {
   0%{
     left:-300px;
   }
   100%{
     left:0px;
   }
 }

@keyframes de-ani {
  0%{
    left:0px;
  }
  100%{
    left:-300px;
  }
}



