<style>
  .dropzone-logo{

    width:45px;
    height:40px;
  }
</style>
<div data-backdrop="static" data-keyboard="false" class="modal animated fadeInUp edit-modal" id="edit_podcasts">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Add Mp3 File </h4>
      </div>
      <div class="modal-body">
        <%= render 'edit_form', podcast: @podcast %>
      </div>
    </div>
  </div>
</div>

