<h1>New Podcast</h1>

<div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

  <%= render 'new' %>
  <%= render 'form', podcast: @podcast %>

</div>
